@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="@Url.Action("Payment","Home")">Thanh toán Momo</a>

<a href="@Url.Action("Payment","VnPay")">Thanh toán Vnpay</a>
